.table-container {
  min-height: 500px;
  display: flex !important;
  flex-direction: column !important;
  justify-content: space-between !important;

  .table {
    Td {
      margin: 5px 0;
      border-bottom: solid darkgray 1px;
      justify-content: space-between!important;

      .detail-btn {
        background-color: black !important;
        color: white;
        margin: 0 10px;
      }

      .detail-btn:hover {
        background-color: white !important;
        color: black;
      }
    }
  }
}
